/* --- POSICIONAMIENTO INDIVIDUAL --- */
/* Modifica los valores de top y left para moverlos sobre la imagen */

#Ataque_Básico { top: 37%; left: 26%; }  /* Nodo central inferior (Espada) */
#Habilidad_Básica { top: 37%; left: 74%; }  /* Nodo central superior */
#Definitiva { top: 48.5%; left: 50%; }   /* Nodo superior central */
#Talento { top: 24%; left: 50%; }     /* Nodo central */

#Técnica { top: 70%; left: 50%; }   /* Nodo inferior */

/* Rastros Grandes (Pasivas laterales) */
#Pasiva_1 { top: 72%; left: 24.5%; }     /* Izquierda */
#Pasiva_2 { top: 72%; left: 75.5%; }     /* Derecha */
#Pasiva_3 { top: 6.5%; left: 50%; }     /* Otro ejemplo */

#min1{ top: 17%; left: 7.5%; }
#min2{ top: 95%; left: 50%; }
#min3{ top: 17%; left: 92.5%; }

.habilidades #hab_cont::before{
    background-image: url("../../imagenes/Vias/Path_Hunt.webp");
}