/* --- POSICIONAMIENTO INDIVIDUAL --- */
/* Modifica los valores de top y left para moverlos sobre la imagen */

#Ataque_Básico { top: 51.5%; left: 26.5%; }  /* Nodo central inferior (Espada) */
#Habilidad_Básica { top: 51.5%; left: 73.5%; }  /* Nodo central superior */
#Definitiva { top: 48.5%; left: 50%; }   /* Nodo superior central */
#Talento { top: 26.5%; left: 50%; }     /* Nodo central */

#Técnica { top: 74.5%; left: 50%; }   /* Nodo inferior */

/* Rastros Grandes (Pasivas laterales) */
#Pasiva_1 { top: 93.5%; left: 23.5%; }     /* Izquierda */
#Pasiva_2 { top: 93.5%; left: 76.5%; }     /* Derecha */
#Pasiva_3 { top: 10%; left: 50%; }     /* Otro ejemplo */

#min1{ top: 31.5%; left: 7%; }
#min2{ top: 61.5%; left: 50%; }
#min3{ top: 31.5%; left: 93%; }

.habilidades #hab_cont::before{
    background-image: url("../../imagenes/Vias/Path_Preservation.webp");
}
