/* --- POSICIONAMIENTO INDIVIDUAL --- */
/* Modifica los valores de top y left para moverlos sobre la imagen */

#Ataque_Básico { top: 46%; left: 23%; }  /* Nodo central inferior (Espada) */
#Habilidad_Básica { top: 46%; left: 77%; }  /* Nodo central superior */
#Definitiva { top: 49.5%; left: 50%; }   /* Nodo superior central */
#Talento { top: 27.5%; left: 50%; }     /* Nodo central */

#Técnica { top: 74.5%; left: 50%; }   /* Nodo inferior */

/* Rastros Grandes (Pasivas laterales) */
#Pasiva_1 { top: 77.5%; left: 21.5%; }     /* Izquierda */
#Pasiva_2 { top: 77.5%; left: 78.5%; }     /* Derecha */
#Pasiva_3 { top: 10.5%; left: 50%; }     /* Otro ejemplo */

#min1{ top: 28%; left: 5%; }
#min2{ top: 90%; left: 50%; }
#min3{ top: 28%; left: 95%; }

.habilidades #hab_cont::before{
    background-image: url("../../imagenes/Vias/Path_Destruction.webp");
}
