/* --- POSICIONAMIENTO INDIVIDUAL --- */
/* Modifica los valores de top y left para moverlos sobre la imagen */

#Ataque_Básico { top: 56.5%; left: 27.5%; }  /* Nodo central inferior (Espada) */
#Habilidad_Básica { top: 56.5%; left: 72.5%; }  /* Nodo central superior */
#Definitiva { top: 56.5%; left: 50%; }   /* Nodo superior central */
#Talento { top: 37%; left: 50%; }     /* Nodo central */

#Técnica { top: 94%; left: 50%; }   /* Nodo inferior */

/* Rastros Grandes (Pasivas laterales) */
#Pasiva_1 { top: 56.5%; left: 9%; }     /* Izquierda */
#Pasiva_2 { top: 56.5%; left: 91%; }     /* Derecha */
#Pasiva_3 { top: 6%; left: 50%; }     /* Otro ejemplo */

#min1{ top: 92%; left: 28%; }
#min2{ top: 21.5%; left: 50%; }
#min3{ top: 92%; left: 72%; }

.habilidades #hab_cont::before{
    background-image: url("../../imagenes/Vias/Path_Erudition.webp");
}
