/* --- POSICIONAMIENTO INDIVIDUAL --- */
/* Modifica los valores de top y left para moverlos sobre la imagen */

#Ataque_Básico { top: 65%; left: 27%; }  /* Nodo central inferior (Espada) */
#Habilidad_Básica { top: 65%; left: 73.5%; }  /* Nodo central superior */
#Definitiva { top: 71.5%; left: 50%; }   /* Nodo superior central */
#Talento { top: 42%; left: 85.5%; }     /* Nodo central */

#Técnica { top: 42%; left: 14.5%; }   /* Nodo inferior */

/* Rastros Grandes (Pasivas laterales) */
#Pasiva_1 { top: 42%; left: 105%; }     /* Izquierda */
#Pasiva_2 { top: 93%; left: 50%; }     /* Derecha */
#Pasiva_3 { top: 17.5%; left: 25%; }     /* Otro ejemplo */

#min1{ top: 44.75%; left: 30%; }
#min2{ top: 54.75%; left: 50%; }
#min3{ top: 44.75%; left: 70%; }

#Habilidad_del_Mnemoduende{ top: 38%; left: 50%; }
#Talento_del_Mnemoduende{ top: 9%; left: 50%; }

#Habilidad_Exclusiva{ top: 20%; left: 70%;}

.habilidades #hab_cont::before{
    background-image: url("../../imagenes/Vias/Path_Remembrance.webp");
}
#hab_cont .rem img {
    filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(180deg) saturate(500%);
}